$site-purple: #540d6e;
$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-teal: #3bceab;
$site-green: #08ad69;
$site-gray: #a8a8a8;
$site-white: #ffffff;
$site-black: #000000;

$overlay-purpleRGBA: rgba(84, 13, 110, 0.6);
$overlay-pinkRGBA: rgba(238, 67, 103, 0.6);
$overlay-yellowRGBA: rgba(255, 209, 64, 0.6);
$overlay-tealRGBA: rgba(59, 206, 171, 0.6);
$overlay-greenRGBA: rgba(8, 173, 105, 0.6);
$overlay-blackRGBA: rgba(0, 0, 0, 0.3);

$newsletter-color: #f56b88;

$overlay-black: rgba(0, 0, 0, 0.4);

$site-blue: #79addc;
$site-orange: #ff7d38;
$min-width: 818px;
$max-width: 980px;
$center-items-padding: 0px 200px 0px 200px;
$light-gray: #ccc;
$off-white: #f5f5f5;

$nova: proxima-nova-extra-condensed, sans-serif;
